@page
@model LandingModel

<div class="text-center mt-5">
    <h1 class="display-4 mb-4">Welcome to Ace Job Agency</h1>
    
    <div class="mt-5">
    <a href="/Register" class="btn btn-primary btn-lg me-3">Register</a>
<a href="/Login" class="btn btn-success btn-lg">Login</a>
    </div>
</div>
