@page
@model WebApplication1.Pages.ProtectedPageModel
@{
    ViewData["Title"] = "Protected Page";
}

<div class="container mt-5">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Secure Content</h4>
        <p>This is a protected page for the users</p>
    </div>
</div>
